@model IEnumerable<WebAppTry3.DBEntities.Track>

@{
    ViewData["Title"] = "Index";
}

<h2>Edit Tracks</h2>

<div class="pull-left">
    <a asp-action="Create">Create New</a>
</div>
<div class="pull-right">
    <a asp-action="HistoryInListToPlay">Put all songs from History in ListToPlay</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Track Url
            </th>
            <th>
                Player State
            </th>
            <th>
                Track Name
            </th>
            <th>
                User Name
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.TrackUrl
                </td>
                <td>
                    @item.PlayerState
                </td>
                <td>
                    @item.TrackName
                </td>
                <td>
                    @item.User?.FullName
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.TrackID">Edit</a>
                    }
                    <a asp-action="Delete" asp-route-id="@item.TrackID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
