@model WebAppTry3.Controllers.PlayerController.FullTrackList

@{
    var i = 0;
}

<div class="container" id="OutputTableFromView">
    <div class="col-md-5">
        <b>Now Playing</b>
        <div class="list-item" id="playing">
            @*Output Play*@
            @foreach (var item in Model.ListPlay)
            {
                <div class="item">
                    <div id="playing1" @*class="name" *@><span>@item.TrackName</span></div>
                    <input type="hidden" id="PlayItem" value="@item.TrackUrl" />
                </div>
            }
        </div>
    </div>
    <div class="col-md-5">
        <b>List to play</b>
        <div class="list-item" id="list-to-play">
            @*output PlayList*@
            @foreach (var item in Model.ListToPlay)
            {
                <div class="item">
                    <div id="list-to-play1"><span>@item.TrackName</span></div>
                    <input type="hidden" id="@("track"+i)" value="@item.TrackUrl" />
                    @{i++;}
                </div>
            }
        </div>
    </div>
    <div class="col-md-5">
        <b>History</b>
        <div class="list-item" id="history">
            @*Output history*@
            @foreach (var item in Model.ListHistory)
            {
                <div class="item">
                    <div id="history1"><span>@item.TrackName</span></div>
                    <input type="hidden" value="@item.TrackUrl" />
                </div>
            }
        </div>
    </div>
</div>

